<div class="container">
  <div class="row">
    <div class="form-holder col-8">
      <form>
        <h1>Checkout</h1>
        <div class="name">
          <input type="text" name="" id="" placeholder="First">
          <input type="text" name="" id="" placeholder="Last">
        </div>
        <input type="email" name="" id="" placeholder="Email">
        <input type="text" name="" id="" placeholder="card">
        <input type="text" name="" id="" placeholder="CVV">
        <button type="submit" class="btn btn-success">Done</button>
      </form>
    </div>
    <div class="cart col-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum porro, quo adipisci quaerat quasi reiciendis, in eos autem provident pariatur cupiditate dignissimos aperiam repellat? Beatae enim ratione officiis ipsam eaque?
    </div>
  </div>
</div>
