.landing {
  position: relative;
}
.landing .wrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
  width: fit-content;
}
.landing .wrapper h1 {
  font-size: 35px;
  font-weight: 500;
  text-wrap: wrap;
  width: 40%;
  line-height: 40px;;
}
.landing .wrapper p {
  text-wrap: wrap;
  width: 70%;
}
.landing .wrapper .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.landing .wrapper button {
  all: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 1rem;
}
.landing .wrapper button.shop-now-btn {
  background-color: #ff8100;
  color: #000;
}
.landing .wrapper button.explore-btn {
  background-color: transparent;
  color: #000;
  border: 2px solid #768e85;
}
.landing img {
  width: 1200px;
}
.container {
  position: relative;
}
section {
  margin-top: 80px;
}
.products-title {
  align-self: center;
  font-size: 2rem;
  text-align: center;
}
.holder {
  background-color: #fff;
  position: relative;
}
.products {
  gap: 30px;
}
.product {
  background-color: #fff;
  width: 200px;
  height: 300px;
  color: #000;
  border: #000 1px solid;
  border-radius: 5%;
  overflow: hidden;
}
.product img {
  width: 200px;
}
.products-btn {
  all: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 1rem;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 30px;
  bottom: -75px;
}
.categories .holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories .listbox {
  position: relative;
  right: 30px;
}
.products-btn .wrapper {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 13;
}
.categories-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0 50px 0px;
  gap: 15px;
}
.categories-section .container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.box {
  font-weight: bolder;
  background-color: #f4f4f4;
  height: 200px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.box img {
  position: relative;
  width: 100%;
  object-fit: contain;
}
.box.clothing img {
  position: absolute;
  width: 250px;
  right: 0;
  top: 25px;
}
.box.beauty img {
  top: -95px;
}
.box.furniture img {
  top: -87%;
  right: -35%;
}
.box.sport img {
  position: absolute;
  width: 100%;
  right: 0;
  top: -30px;
}
.box.electronics img {
  width: 80%;
  top: -45px;
  right: -110px;
  position: absolute;
}
.box.kitchen img {
  width: 60%;
  top: -35px;
  right: 40px;
  position: absolute;
}
@media (max-width: 1400px) {
  .box.beauty img {
    top: -95px;
  }
  .box.furniture img {
    top: -130px;
    right: -35%;
  }
}
@media (max-width: 1200px) {
  .box.beauty img {
    top: -40px;
  }
  .box.furniture img {
    top: -100px;
    right: -35%;
  }
}
@media (max-width: 992px) {
  .box.beauty img {
    width: 120%;
    top: -15px;
  }
  .box.furniture img {
    width: 120%;
    top: -60px;
    right: -20%;
  }
}
.box:hover {
  cursor: pointer;
}
.col-12 {
  gap: 1%;
}
.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 1%);
}
.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 1%);
}
.products-showcase {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.products-showcase .element {
  width: 300px;
  position: relative;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  cursor: pointer;
}
.products-showcase .element::before {
  content: "";
  background-color: #dce5e4;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
  height: 0%;
}
.products-showcase .element:hover::before {
  height: 65%;
}
.products-showcase .element .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  position: absolute;
  bottom: 0;
  font-size: 22px;
  left: 50%;
  transform: translate(-50%, 5px);
  transition: 0.3s all ease;
  opacity: 0;
  color: #fff;
  font-weight: 500;
  background-color: #2f2f2f;
  padding: 8px;
  border-radius: 50%;
}
.products-showcase .element:hover .material-symbols-outlined {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.products-showcase .element .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.products-showcase .element img {
  width: 100%;
  transition: 0.3s all ease;
}
.products-showcase .element:hover img {
  transform: translateY(-20px);
}
.products-showcase .element h3 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
}
.products-showcase .element span {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}
section.info {
  margin-right: auto;
  margin-left: auto;
}
section.info .elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
section.info .element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  text-align: center;
}
section.info .element .icon {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 15px;
}
section.info .elements p.title-text {
  width: 55%;
  text-align: center;
}
footer .element h3,
section.info .element h1 {
  font-weight: 700;
  margin: 0;
}
section.info .element p {
  margin: 0;
  text-align: center;
}
@media (max-width: 992px) {
  section.info .elements .row h2 {
    text-align: center;
  }
  section.info .elements p.title-text {
    width: 100%;
    text-align: center;
  }
  .info .image-wrapper {
    display: none;
  }
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-slide img {
  width: 60%;
  height: auto;
  display: block;
}
footer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  padding: 25px 0;
  gap: 100px;
  background-color: #f2f2f2;
}
footer .element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
footer .element p {
  margin: 0;
  color: #777;
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
a,
a:hover,
a:visited {
  color: #1976d2;
  text-decoration: none;
}
a:hover {
  color: #125699;
}
