<div class="product card" (product)="cardProduct">
  <img [routerLink]="'/product/' + cardProduct.id" [src]="safeImageUrl" alt="image">
  <div class="details-holder">
    <div class="details">
      <div class="name">{{ cardProduct.title }}</div>
      ~{{ cardProduct.rate }}
      <div class="price">{{ cardProduct.price }}$</div>
    </div>
    <div class="buttons">
      <button mat-icon-button *ngIf="wishlistButton" (click)="onAddToWishlist()">
        <mat-icon class="icon" [ngStyle]="{'color' : wishToggle? 'red' : 'grey'}">favorite</mat-icon>
      </button>
      <button mat-icon-button *ngIf="cartButton" (click)="onAddToCart()">
        <mat-icon class="icon"  [ngStyle]="{'color' : cartToggle? 'green' : 'grey'}">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
