.header {
  /* position: relative; */
  top: 0; /* Stick to the top of the viewport */
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  font-weight: 600;
  /* border: #b1b1b1 solid;
  border-width: 1px 0 1px 0; */
  z-index: 1000; /* Ensure it stays above other content */
}
.top-header {
  background-color: #f5f5f5;
  border: none;
  height: 40px;
  color: white;
  transition: 2s all;
}
.top-header span {
  font-weight: lighter;
  color: #2f2f2f;
}
.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#page {
  border: none;
  background-color: white;
  padding: 5;
}
/* Search */
#search {
  padding: 10px;
  border-radius: 8px;
  width: 350px;
  border: 1px solid #b1b1b1;
}
#search:focus {
  outline: none;
}
.search button {
  border: none;
  background-color: #2f2f2f;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
}

svg {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.logo {
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  background-color: #2f2f2f;
  color: white;
  padding: 5px 10px;
}
.p-button-danger,
.p-button-success {
  padding: 6px 12px;
  font-size: 15px;
}


.select {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 300px;
  background-color: #ff8100;

}
.select .nav-btn {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
}
.select .nav-btn h6 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  align-items: center;
  gap: 10px;
  margin: 0;
  font-weight: 600;
}
.select nav {
  display: flex;
  flex-direction: column;
  z-index: 20;
  position: absolute;
  top: 65px;
  width: 100%;
  height: fit-content;
  transition: 0.5s;
}
.nav-collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.nav-expanded {

  overflow: hidden;
  transition: max-height 0.5s ease;
}
.select nav a {
  text-decoration: none;
  background-color: white;
  width: 100%;
  padding: 15px 42px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  border: 1px solid #F5F5F5;
  cursor: pointer;
}
.select nav a:hover {
  color: black;
}

/* position: fixed;
    top: 65px;
    z-index: 5;
    margin-bottom: 70px; */
