
form {
  display: flex;
  gap: 50px;
  background-color: white;
  width: 73vw;
  height: 70vh;
  padding: 12px 30px;
  border-radius: 15px;
}
.add-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: gray;
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 10px;
}
.inputs {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  color: gray;
  font-weight: bold;
  font-size: 15px;
}
.options select,
textarea,
input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(94, 91, 91);

}
input {
  width: 100%;
  max-width: 260px;
}
textarea:focus,
input:focus {
  outline-color: blueviolet;
}
.options {
  margin-top: 20px;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.options label {
  margin-bottom: 10px;
}

button {
  position: absolute;
  bottom: 70px;
  left: 90%;
}
