<header>
  <h1>Products Management</h1>
  <button class="add-btn" routerLink="/dashboard/products/create">
    <span class="material-symbols-outlined">add</span>
    Add Product
  </button>
</header>
<section>
  <table>
    <thead>
      <td></td>
      <td>
        <strong class="sort-btn" (click)="titleSorting()">
          Name
          <span class="arrow-up" *ngIf="titleArrowUp"></span>
          <span class="arrow-down" *ngIf="!titleArrowUp"></span>
        </strong>
      </td>
      <td><strong>Category</strong></td>
      <td><strong>Description</strong></td>
      <td>
        <span class="sort-btn" (click)="newestSorting()">
          Newest
          <span class="arrow-up" *ngIf="newestArrowUp"></span>
          <span class="arrow-down" *ngIf="!newestArrowUp"></span>
        </span>
      </td>
      <td>
        <strong class="sort-btn" (click)="priceSorting()">
          Price
          <span class="arrow-up" *ngIf="priceArrowUp"></span>
          <span class="arrow-down" *ngIf="!priceArrowUp"></span>
        </strong>
      </td>
      <td><strong>Action</strong></td>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
        <td><img [src]="product.images[0]" alt="image"></td>
        <td>{{product.title}}</td>
        <td>{{product.category}}</td>
        <td class="">{{ product.description | truncate:120 }}</td>
        <td></td>
        <td>${{product.price}}</td>
        <td>
          <span class="material-symbols-outlined action-btn" style="color: rgb(100, 100, 247);" [routerLink]="'/dashboard/products/create/' + product._id" (click)="onUpdateProduct(product._id)">edit</span>
          <span class="material-symbols-outlined action-btn"style="color: red;" (click)="onDeleteProduct($event, product)">delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<!-- <app-loading></app-loading> -->
