header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
section {
  box-shadow: 0 0 0 0 black;
  position: relative;
  border-radius: 10px;
  background-color: white;
  height: 80%;
  border: solid;
  border-width: 2px;
  border-color: rgba(128, 128, 128, 0.301);
}
table {
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
}
thead {
  color: gray;
  background-color: white;
  border-radius: 10px;
}
tbody {
  position: absolute;
  overflow-y: auto;
  height: 85%;
  border-radius: 10px;
}
td, tfoot, th, thead, tr {
  border-bottom: 2px solid;
  border-color: rgba(128, 128, 128, 0.301);

  background-color: white;
  margin: 0;
}
td {
  width: 13%;
  height: 80px;
}
td {
  padding: 8px;
}
td img {
  width: 80px;
  padding: 10px;
}
button.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.action-btn {
  cursor: pointer;
  padding: 3px;
}

thead td .sort-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* sorting arrows */
.arrow-up {
  border: 7px solid;
  border-top-color: transparent;
  border-bottom-color: gray;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: -4px;
  left: 3px;
}
.arrow-down {
  border: 7px solid;
  border-top-color: gray;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: 4px;
  left: 3px;
}
