<div class="cart-nav" [ngStyle]="{'right': cartStatus ? '0' : '-30%'}">
  <div class="header">
    <h2 class="title">Shopping Cart</h2>
    <button (click)="cartClose()">Close</button>
  </div>
  <div class="products">
    <div class="product" *ngFor="let product of products" >
      <img src="https://c.static-nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/g1ljiszo4qhthfpluzbt/123-joyride-cdp-apla-xa-xp.jpg" alt="image">
      <div class="details">
        <h3 class="name">{{ product.name }}</h3>
        <p class="price">${{ product.price }}</p>
        <p>unit x {{ product.unit }} total: {{ product.price * product.unit }}</p>
      </div>
      <button (click)="onDeleteProduct($event, product)">X</button>
    </div>
  </div>
  <div class="checkout">
    <div class="total">
      <p>Total:</p>
      <p>${{ this.totalPrice }}</p>
    </div>
    <button class="checkout-btn" routerLink="/checkout">Checkout</button>
  </div>
</div>
