
.header-holder {
  background-color: white;
}
.header {
  position: fixed;

}

.landing {
  position: fixed;
  background-color: #125699;
  width: 100vw;
  height: 700px;
}
.landing img {
  width: 1200px;
}
