.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: black;
  justify-self: flex-start;
}
form {
  /* border: 1px solid #b19a9a; */
  height: 500px;
  width: 350px;
  padding: 40px;
  position: relative;
  top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px 11px #00000045;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  gap: 35px;
}
.form-control {
  width: 100%;
  padding: 10px;
  background-color: #8080805e;
}
.p-float-label label {
  font-weight: bold;
}

/* button.p-button {
  color: white;
  width: 200px;
} */
