
<div class="landing">
    <!-- <div class="container"> -->
    <!-- <img style="width: 100%; position: fixed;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYUE8dhfRHMh3o6QlXH-6hiH69AiEjO5obiw&usqp=CAU" alt=""> -->
  <!-- </div> -->
</div>

<div class="holder">
  <div class="container">
    <span>{{ productsLen }}</span>
    <div class="pro-holder row">
        <div class="catgories col-3">
          <mat-chip-listbox class="holder" aria-label="Fish selection">
            <mat-chip-option (click)="onGetAllCategories()" selected>All</mat-chip-option>
            <mat-chip-option (click)="onGetCategory(1)">Clothes</mat-chip-option>
            <mat-chip-option (click)="onGetCategory(2)" color="accent">Electronics</mat-chip-option>
            <mat-chip-option (click)="onGetCategory(3)" color="warn">Furniture</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="products row col-9">
          <app-product-card class="col-3" *ngFor="let product of products" [cardProduct]="product"></app-product-card>
        </div>
      </div>
  </div>
</div>
<!--


  <div class="cards">
    <div class="card-container">
      <button (click)="onIncrement()" class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>increament</span>
      </button>

      <button (click)="onDecrement()" class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>decreament</span>
      </button>

      <button (click)="onAddToWishlist()" class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Add PWA Support</span>
      </button>

      <button (click)="onAddToCart()" class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Add Dependency</span>
      </button>

      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Run and Watch Tests</span>
      </button>

      <button class="card card-small"  tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Build for Production</span>
      </button>
      <div class="select">
        <label for="select">sort by: </label>
        <select name="" id="">
          <option value="name">name</option>
          <option value="price">price</option>
          <option value="price">rate</option>
        </select>
      </div>
    </div>
    </div> -->
