    <div class="comment">
      <div style="display: flex">
        <h2 style="margin: 0">{{ commenttt.username }}</h2>
        <div class="rating">
          <mat-icon class="icon true">star_rate</mat-icon>
          <mat-icon class="icon true">star_rate</mat-icon>
          <mat-icon class="icon true">star_rate</mat-icon>
          <mat-icon class="icon true">star_rate</mat-icon>
          <mat-icon class="icon">star_rate</mat-icon>
          <p class="text">{{ commenttt.rating }}</p>
        </div>
      </div>
      <p>{{ commenttt.comment }}</p>
    </div>