<div class="product card" (product)="cardProduct">
  <button mat-icon-button class="wishlist-btn" *ngIf="wishlistButton" (click)="onAddToWishlist()">
    <mat-icon class="icon" [ngStyle]="{'color' : wishToggle? 'red' : 'grey'}">favorite</mat-icon>
  </button>
  <button mat-icon-button class="wishlist-btn" *ngIf="deleteButton" (click)="onDeleteFromWishlist()">
    <mat-icon class="icon" style="color: red;">delete</mat-icon>
  </button>
  <div class="image-holder">
    <img [routerLink]="'/products/' + cardProduct._id" [src]="safeImageUrl" alt="image">
  </div>
  <div class="details-holder">
    <div class="details">
      <div class="name">{{ cardProduct.title }}</div>
      <!-- ~{{ cardProduct.rating }} -->
      <div class="price">${{ cardProduct.price }}</div>
    </div>
    <div class="buttons">

      <button class="cart-btn" *ngIf="cartButton" (click)="onAddToCart()">
        <mat-icon class="icon"  [ngStyle]="{'color' : cartToggle? 'green' : '#3b82f6'}">shopping_cart</mat-icon>
        <span>Add to Cart</span>
      </button>
    </div>
  </div>
</div>
